// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icons-edit-index {
	font-size: 1.2em;
	text-decoration: none;
	color: #058225;
}

.icons-delete-index {
	font-size: 1.2em;
	text-decoration: none;
	color: #ab0303;
}